@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.affiliate {
  position: relative;
  background-color: #0c0b0e;
  min-height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: $bg-main;

  @include mq (1200px) {
    min-height: auto;
    margin-top: 130px;
  }

  &__br {
    display: none;

    @include mq(1200px) {
      display: inline-block;
    }
  }

  &__title {
    text-align: center;
    font-family: $font-accent;
    @include fluid-prop('font-size', 30px, 58px);
    font-weight: 700;
    margin-bottom: 40px;
    text-transform: uppercase;

    span {
      background-color: $text-accent;
      color: $text-black-third;
      padding-inline: 10px;
      display: inline-block;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include fluid-prop('row-gap', 15px, 30px);
    @include fluid-prop('column-gap', 0px, 65px);
    margin: 0 auto;

    @include mq(1200px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__card {
    position: relative;
    display: flex;
    min-height: 260px;
    @include fluid-prop('width', 370px, 547px);
    @include fluid-prop('height', 161px, 260px);
    background-color: #1d1c1f;
    border-radius: 20px;
    overflow: hidden;

    @include mq(1200px) {
      aspect-ratio: 370 / 161;
      min-height: auto;
    }

    &-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-image: url('../img/circle-decor.webp');
      background-repeat: no-repeat;
      background-size: cover;
    }

    &-content {
      position: relative;
      z-index: 2;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      text-align: center;
    }

    &-icon {
      margin-bottom: 6px;
      display: flex;
      align-items: center;

      img {
        max-height: 100%;
        object-fit: contain;
      }
    }

    &-monitor {
      @include fluid-prop('width', 82.5px, 122px);
      @include fluid-prop('height', 82.5px, 122px);
    }

    &-link {
      @include fluid-prop('width', 69px, 97px);
      @include fluid-prop('height', 69px, 97px);
    }

    &-users {
      @include fluid-prop('width', 75px, 127px);
      @include fluid-prop('height', 75px, 127px);
    }

    &-plus {
      @include fluid-prop('width', 78px, 121px);
      @include fluid-prop('height', 78px, 121px);
    }

    &-percent {
      @include fluid-prop('width', 72px, 115px);
      @include fluid-prop('height', 72px, 115px);
    }

    &-text {
      @include fluid-prop('font-size', 14px, 22px);
      line-height: 1.2;
      font-weight: 500;
      max-width: 410px;
    }
  }

  &__action {
    display: flex;
    align-items: center;
    justify-content: center;

    @include mq(1200px) {
      display: none;
    }
  }

  &__btn {
    @include btn;
  }

  &__scroll {
    display: flex;
    justify-content: center;
    margin-top: 60px;

    img {
      width: 34px;
    }
  }
}
