@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.audience {
  position: relative;
  background-color: $bg-main;
  min-height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include fluid-prop('gap', 61px, 96px);
    width: 100%;
  }

  &__title {
    font-family: $font-accent;
    @include fluid-prop('font-size', 30px, 75px);
    font-weight: 700;
    text-transform: uppercase;
    color: $text-main;
    text-align: left;
    @include mq(1200px) {
      @include fluid-prop('max-width', 300px, 480px, 420px, 1200px);
    }

    span {
      background-color: $text-accent;
      color: $text-black;
      padding-inline: 10px;
      display: inline-block;
    }
  }

  &__grid {
    display: flex;
    justify-content: space-around;
    @include fluid-prop('gap', 20px, 40px);
    width: 100%;

    @include mq(1200px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__card {
    position: relative;
    @include fluid-prop('width', 300px, 455px);
    aspect-ratio: 455 / 396;
    padding-top: 27px;
    padding-bottom: 54px;
    padding-inline: 50px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 1;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      pointer-events: none;
      border-radius: inherit;
      padding: 1px;
      background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
      -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
    }
  }

  &__icon {
    width: 80px;
    height: 80px;
    @include fluid-prop('width', 86px, 119px);
    @include fluid-prop('height', 86px, 119px);
    @include fluid-prop('margin-bottom', 18px, 22px);

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__card-title {
    color: $text-accent-secondary;
    font-weight: 600;
    @include fluid-prop('font-size', 20px, 35px);
    @include fluid-prop('margin-bottom', 18px, 29px);
    text-transform: uppercase;
  }

  &__card-text {
    @include fluid-prop('font-size', 13px, 22px);
    font-weight: 500;
    color: $text-main;
    line-height: 1.2;
  }

  &__scroll {
    margin-top: 40px;
    width: 44px;
    height: 44px;
    cursor: pointer;
    img {
      width: 100%;
    }
  }
}
