@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;

  @include mq(1200px) {
    padding-left: 36.5px;
    padding-right: 36.5px;
  }
}