@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.cta {
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: $bg-secondary;
  text-align: center;
  position: relative;
  overflow: hidden;

  @include mq(1200px) {
    height: auto;
    padding-block: 100px;
  }

  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include fluid-prop('gap', 55px, 60px);
  }

  &__content {
    width: 100%;
    @include fluid-prop('width', 650px, 1140px);

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    @include fluid-prop('margin-bottom', 55px, 60px);

    @include mq(1200px) {
      flex-direction: column;
      align-items: center;
      gap: 56px;
    }
  }

  &__block {
    width: 100%;
    @include fluid-prop('max-width', 280px, 450px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 50%;
    gap: 24px;

    @include mq(1200px) {
      gap: 36px;
    }
  }

  &__label {
    position: relative;
    display: inline-block;
    font-family: $font-main;
    @include fluid-prop('font-size', 20px, 30px);
    color: #faff00;
    font-style: italic;
    font-weight: 500;
    text-decoration: none;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -3px;
      width: 100%;
      height: 2px;
      background-color: #f9f678;

      @include mq(1200px) {
        bottom: -4px;
        height: 1.5px;
      }
    }
  }

  &__main-text {
    width: 100%;
    font-family: $font-accent;
    @include fluid-prop('font-size', 40px, 75px);
    font-weight: 700;
    line-height: 1;
    color: $text-main;
    text-align: center;
    text-transform: uppercase;
  }

  &__btn {
    @include btn;
    @include fluid-prop('width', 280px, 450px);
    background-color: $text-accent;
    color: #000;
  }
}
