@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  @include fluid-prop('padding-top', 14px, 18px);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
  }

  &__logo {
    display: block;
    flex-shrink: 0; // Чтобы логотип не сжимался
    @include fluid-prop('width', 50px, 92px);
    @include fluid-prop('height', 50px, 92px);

    picture, img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__nav {
    @include mq(1200px) {
      display: none; 
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__login {
    padding-inline: 46px;
    padding-block: 12px;
    font-size: 22px;
    font-weight: 600;
    color: $text-accent;
    border: 1px solid $text-accent;
    border-radius: 50px;
    @include mq(1200px) {
      display: none; 
    }
  }
}

.nav {
  &__list {
    display: flex;
    list-style: none;
    gap: 80px;
  }

  &__link {
    color: $text-main;
    font-family: $font-main;
    font-weight: 400;
    font-size: 18px;
    transition: color 0.3s ease;

    &:hover,&:focus, &--active {
      color: $text-accent;
    }
  }
}

.burger {
  display: none; 

  @include mq(1200px) {
    display: flex;
    @include fluid-prop('width', 29px, 32px);
    @include fluid-prop('height', 29px, 32px);
  }
}