@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.header {
  width: 100%;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mq(1200px) {
      padding-left: 52px;
      padding-right: 61px;
      @include fluid-prop('padding-left', 20px, 52px, 360px, 420px);
      @include fluid-prop('padding-right', 30px, 61px, 360px, 420px);
    }
  }

  &__logo {
    display: block;
    flex-shrink: 0;
    @include fluid-prop('width', 50px, 92px);
    @include fluid-prop('height', 50px, 92px);

    picture,
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__nav {
    @include mq(1200px) {
      display: none;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__login {
    padding-inline: 46px;
    padding-block: 12px;
    font-size: 22px;
    font-weight: 600;
    color: $text-accent;
    border: 1px solid $text-accent;
    border-radius: 50px;
    transition: box-shadow 0.2s ease;

    @include mq(1200px) {
      display: none;
    }

    &:hover,
    &:focus {
      box-shadow: 0 10px 20px rgba($text-accent, 0.2);
    }
  }
}

.nav {
  &__list {
    display: flex;
    list-style: none;
    gap: 80px;
  }

  &__link {
    color: $text-main;
    font-family: $font-main;
    font-weight: 400;
    font-size: 18px;
    transition: color 0.3s ease;

    &:hover,
    &:focus,
    &--active {
      color: $text-accent;
    }
  }
}

.burger {
  display: none;
  background: none;
  border: none;
  padding: 0;

  @include mq(1200px) {
    display: flex;
    @include fluid-prop('width', 29px, 32px);
    @include fluid-prop('height', 29px, 32px);

    img {
      width: 100%;
      height: 100%;
    }
  }
}
