@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.how {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: $bg-main;
  background-image: url('../img/bg-img.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px 330px;
  overflow: hidden;

  @include mq(1200px) {
    height: auto;
    margin-top: 200px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 2;
  }

  &__title {
    margin-bottom: 145px;
    width: 100%;
    font-family: $font-accent;
    @include fluid-prop('font-size', 30px, 75px);
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;

    span {
      background-color: $text-accent;
      color: $text-black;
      @include fluid-prop('padding-inline', 6px, 18px);
    }

    @include mq(1200px) {
      margin-bottom: 36px;
      text-align: center;
    }
  }

  &__steps {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    max-width: 1200px;

    @include mq(1200px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 60px;
      padding-left: 40px;
    }
  }

  &__line {
    position: absolute;
    top: -30px;
    left: -500px;
    width: 200%;
    height: 1px;
    background: rgba($text-main, 0.63);

    @include mq(1200px) {
      width: 1px;
      height: 100%;
      top: 0;
      left: 10px;
    }
  }

  &__step {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;

    @include mq(1200px) {
      flex-direction: row;
      align-items: center;
      gap: 20px;
    }

    &.is-active {
      .how__number {
        color: $text-accent;
      }
      .how__marker {
        opacity: 1;
      }
    }
  }

  &__marker {
    position: absolute;
    top: -44px;
    @include fluid-prop('width', 19px, 32px);
    @include fluid-prop('height', 19px, 32px);
    background: $bg-white;

    @include mq(1200px) {
      left: -30px;
      top: 50%;
      transform: translateY(-50%);
      transform: translateX(-50%);
    }
  }

  &__number {
    font-family: $font-accent;
    @include fluid-prop('font-size', 60px, 75px);
    font-weight: 700;
    color: rgba($text-main, 0.31);
    line-height: 1.2;
  }

  &__text {
    text-align: center;
    max-width: 230px;
    @include fluid-prop('font-size', 15px, 25px);
    font-weight: 500;
    color: $text-main;

    @include mq(1200px) {
      text-align: left;
      max-width: 100%;
    }

    &--secondary {
      max-width: 320px;

      @include mq(1200px) {
        display: none;
      }
    }

    &--accent {
      color: #b4b4b4;
    }
  }

  &__bg-text {
    position: absolute;
    bottom: 80px;
    left: 0;
    width: 100%;
    font-family: $font-accent;
    @include fluid-prop('font-size', 38px, 100px);
    font-weight: 500;
    color: transparent;
    -webkit-text-stroke: 1px rgba($text-muted, 0.52);
    white-space: nowrap;
    z-index: 1;
    transform: rotate(-3.87deg);
  }
}
