@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.pricing {
  position: relative;
  background-color: #0c0b0e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  @include mq(1200px) {
    min-height: auto;
    margin-top: 150px;
  }

  &__header {
    @include fluid-prop('margin-bottom', 30px, 30px);
  }

  &__title {
    font-family: $font-accent;
    @include fluid-prop('font-size', 30px, 75px);
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }

  &__title--accent {
    background-color: $text-accent;
    color: $text-black-third;
    padding-inline: 10px;
    display: inline-block;
    line-height: 1.1;
  }

  &__subtitle {
    width: 100%;
    @include fluid-prop('max-width', 300px, 720px);
    margin-inline: auto;
    @include fluid-prop('padding-left', 40px, 160px);
    box-sizing: content-box;
    @include fluid-prop('margin-top', 8px, 20px);
    @include fluid-prop('font-size', 13px, 26px);
  }

  &__subtitle--accent {
    color: $text-muted;
  }

  &__card {
    position: relative;
    max-width: 600px;
    margin: 0 auto 35px;
    padding: 1px;
    border-radius: 20px;
    background: linear-gradient(180deg, #ffffff 0%, #ebfc56 100%);

    &-content {
      background: #111013;
      border-radius: 25px;
      padding-block: 22px;
      padding-inline: 16px;
      height: 100%;
      background-color: #0c0b0e;
    }

    &-content--bg {
      padding-inline: 20px;
      padding-block: 20px;
      border-radius: 20px;
      height: 100%;
      background-image: url('../../img/bg-pricing.webp');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: bottom;

      @include mq(1200px) {
        border-radius: 0px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
    }
  }

  &__card-title {
    @include fluid-prop('font-size', 22px, 45px);
    color: $text-accent-secondary;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
  }

  &__list {
    text-align: left;
    margin-bottom: 40px;
  }

  &__item {
    position: relative;
    padding-left: 25px;
    margin-bottom: 15px;
    @include fluid-prop('font-size', 11px, 20px);

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 8px;
      height: 8px;
      background-color: $text-accent-secondary;
      border-radius: 50%;
    }
  }

  &__promo {
    background: linear-gradient(180deg, $bg-text 0%, $bg-text 100%);
    padding-block: 15px;
    margin-inline: -20px;
    margin-bottom: 10px;

    p {
      color: $text-accent-secondary;
      font-weight: 600;
      font-style: italic;
      @include fluid-prop('font-size', 14px, 25px);
      text-align: center;
    }
  }

  &__price-box {
    text-align: center;
  }

  &__old-price {
    @include fluid-prop('font-size', 18px, 35px);
    font-weight: 600;
    text-decoration: line-through;
    opacity: 0.45;
  }

  &__current-price {
    @include fluid-prop('font-size', 23px, 45px);
    font-weight: 600;
    margin-bottom: 10px;
  }

  &__note {
    @include fluid-prop('font-size', 11px, 20px);
    color: #bababa;
    font-style: italic;
  }

  &__actions {
    margin-top: 20px;
    text-align: center;
  }
}

.btn-reg {
  @include btn;
  text-align: center;
}
