@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.shinobi {
  padding-block: 80px;
  background-color: #0c0b0e;
  color: #fff;
  text-align: center;
  overflow: hidden;

  &__header {
    margin-bottom: 50px;
  }

  &__pre-title {
    @include fluid-prop('font-size', 18px, 28px);
    text-transform: uppercase;
    font-weight: 400;
  }

  &__accent-title {
    @include fluid-prop('font-size', 18px, 28px);
    color: #d4ff3d;
    font-style: italic;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__logo-text {
    font-family: $font-accent;
    @include fluid-prop('font-size', 60px, 120px);
    line-height: 1;
    margin-bottom: 30px;
    letter-spacing: 2px;
  }

  &__descr {
    @include fluid-prop('font-size', 14px, 18px);
    max-width: 750px;
    margin: 0 auto;
    opacity: 0.8;
    line-height: 1.6;

    span {
      display: inline;

      @include mq(768px) {
        display: inline-block;
        margin-top: 10px;
      }
    }
  }

  &__badge {
    padding: 4px 12px;
    border-radius: 20px;
    border: 1px solid rgba(212, 255, 61, 0.5);
    background: rgba(212, 255, 61, 0.05);
    color: #d4ff3d;
    font-style: italic;
    font-size: 0.9em;
  }

  &__visual {
    height: 300px;
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include fluid-prop('width', 250px, 350px);
      @include fluid-prop('height', 250px, 350px);
      border: 1px solid rgba(255, 255, 255, 0.1);
      border-radius: 50%;
      clip-path: inset(0 0 50% 0);
    }
  }

  &__circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include fluid-prop('width', 180px, 240px);
    @include fluid-prop('height', 180px, 240px);
    border: 2px solid #d4ff3d;
    border-radius: 50%;
    background-color: #0c0b0e;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;

    &-content {
      p {
        font-style: italic;
        @include fluid-prop('font-size', 14px, 16px);
      }
      strong {
        display: block;
        @include fluid-prop('font-size', 22px, 30px);
        font-weight: 800;
        margin-top: 5px;
      }
    }
  }

  &__profit {
    @include fluid-prop('font-size', 15px, 18px);
    margin-bottom: 30px;
    opacity: 0.9;
  }
}

.btn-reg {
  display: inline-block;
  background-color: #d4ff3d;
  color: #000;
  padding: 18px 50px;
  border-radius: 14px;
  font-weight: 700;
  text-decoration: none;
  @include fluid-prop('font-size', 18px, 20px);

  @include mq(768px) {
    width: 100%;
  }
}
