@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.shinobi {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $bg-main;
  overflow: hidden;
  text-align: center;

  @include mq(1200px) {
    min-height: auto;
  }

  &__header {
    margin: 0 auto;
    @include fluid-prop('margin-bottom', 20px, 50px);
    @include fluid-prop('max-width', 320px, 1160px);
  }

  &__pre-title {
    @include fluid-prop('font-size', 19px, 50px);
    text-transform: uppercase;
    font-weight: 500;
    text-align: left;

    @include mq(1200px) {
      margin-bottom: 8px;
      text-align: right;
    }
  }

  &__accent-title {
    @include fluid-prop('font-size', 19px, 50px);
    font-weight: 500;
    color: #d4ff3d;
    font-style: italic;
    text-align: right;
    text-transform: uppercase;

    @include mq(1200px) {
      margin-bottom: 17px;
    }
  }

  &__logo-text {
    font-family: $font-accent;
    @include fluid-prop('font-size', 35px, 140px);
    line-height: 1;
    text-align: right;
    @include fluid-prop('margin-bottom', 20px, 55px);
    letter-spacing: 2px;
  }

  &__descr {
    @include fluid-prop('font-size', 13px, 26px);
    line-height: 1.4;
    text-align: left;
  }

  &__badge--start {
    color: $text-muted;
    font-style: italic;
  }

  &__badge--end {
    padding: 4px 16px;
    color: $text-accent-secondary;
    @include fluid-prop('font-size', 13px, 25px);
    font-style: italic;
    border-radius: 20px;
    background: linear-gradient(180deg, rgb(27, 27, 27) 0%, rgba(27, 27, 27, 0) 100%);
    box-shadow: 0 4px 15px 0 black;

    @include mq(1200px) {
      display: inline-block;
      margin-top: 20px;
      padding: 6px 18px;
    }
  }

  &__bg-container {
    position: absolute;
    inset: auto 0 0 0;
    height: 49%;
    background-image: url(../img/shinobi-bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    z-index: 1;

    @include mq(1200px) {
      position: relative;
      width: 100%;
      height: auto;
      inset: unset;
      padding-top: 80px;
      background-position: 0 70px;
    }
  }

  &__container {
    position: relative;
    z-index: 2;

    @include mq(1200px) {
      margin-bottom: 70px;
    }
  }

  &__container--second {
    position: absolute;
    top: -130px;
    left: 50%;
    transform: translateX(-50%);

    @include mq(1200px) {
      position: relative;
      top: auto;
      left: auto;
      transform: none;
    }
  }

  &__visual {
    height: 300px;
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 70px;

    @include mq(1200px) {
      height: auto;
      margin-bottom: 150px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include fluid-prop('width', 250px, 430px);
      @include fluid-prop('height', 250px, 430px);
      padding: 1px;
      background: linear-gradient(90deg, rgba(235, 252, 86, 0) 0%, rgba(235, 252, 86, 1) 50%, rgba(235, 252, 86, 0) 100%);
      border-radius: 50%;
      mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      mask-composite: exclude;
      -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      clip-path: inset(50% 0 0 0);

      @include mq(1200px) {
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
        @include fluid-prop('width', 260px, 320px);
        @include fluid-prop('height', 260px, 320px);
        clip-path: inset(50% 0 0 0);
        opacity: 0.5;
      }
    }
  }

  &__circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include fluid-prop('width', 150px, 300px);
    @include fluid-prop('height', 150px, 300px);
    border: 2px solid $text-main;
    border-radius: 50%;
    background-color: #0c0b0e;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;

    @include mq(1200px) {
      border-color: $text-accent-secondary;
    }

    &-content {
      p {
        color: $text-muted;
        font-style: italic;
        @include fluid-prop('font-size', 13px, 26px);
      }
      strong {
        display: block;
        @include fluid-prop('font-size', 16px, 35px);
        font-weight: 700;
      }
    }
  }

  &__profit {
    @include fluid-prop('margin-bottom', 32px, 35px);
    @include fluid-prop('font-size', 12px, 26px);
    font-weight: 500;
  }

  &__profit--percent {
    @include fluid-prop('font-size', 12px, 30px);
    font-weight: 700;
  }

  &__bg-text {
    position: absolute;
    bottom: -21px;
    left: 0;
    width: 100%;
    font-family: 'Orbitron', sans-serif;
    font-size: clamp(38px, 38px + (var(--content-vw, 100vw) - 420px) * 0.0413333333, 100px);
    font-weight: 500;
    color: transparent;
    -webkit-text-stroke: 1px rgba(136, 136, 136, 0.52);
    white-space: nowrap;
    z-index: 1;

    @include mq(1200px) {
      display: none;
    }
  }
}

.btn-reg {
  @include btn;

  @include mq(1200px) {
    margin-bottom: 40px;
  }
}
