@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.strategy {
  background-color: $bg-main;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding-block: 100px;
  overflow: hidden;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 80px;
    position: relative;
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: end;
    gap: 20px;
    position: relative;

    &--top {
      .strategy__title {
        grid-column: 1 / 8;
      }
      .strategy__desc {
        grid-column: 8 / 13;
        text-align: right;
      }
      .strategy__line {
        grid-column: 1 / 9;
        margin-top: 20px;
      }
    }

    &--bottom {
      .strategy__info {
        grid-column: 1 / 5;
      }
      .strategy__title {
        grid-column: 5 / 13;
        text-align: right;
      }
      .strategy__line {
        grid-column: 5 / 13;
        margin-top: 20px;
      }
    }

    @include mq(1200px) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;
    }
  }

  &__title {
    font-family: $font-accent;
    @include fluid-prop('font-size', 40px, 90px);
    text-transform: uppercase;
    line-height: 1;
    white-space: nowrap;

    span {
      color: $text-accent;
    }
  }

  &__desc,
  &__info {
    @include fluid-prop('font-size', 16px, 20px);
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.4;
    max-width: 400px;

    span {
      color: #fff;
      font-weight: 600;
    }
  }

  &__line {
    height: 1px;
    background: rgba(255, 255, 255, 0.2);
    width: 100%;
  }

  &__action {
    display: flex;
    align-items: center;
    justify-content: center;
    @include fluid-prop('gap', 20px, 60px);
    margin-top: 40px;

    @include mq(1200px) {
      flex-direction: row;
      width: 100%;
    }
  }

  &__arrow {
    flex-grow: 1;
    max-width: 400px;
    img {
      width: 100%;
    }

    @include mq(1200px) {
      max-width: 150px;
    }
  }

  &__badge {
    width: 220px;
    height: 220px;
    background-color: $text-accent;
    color: #000;
    border-radius: 50%;
    font-weight: 900;
    font-size: 18px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cpath fill='%23d4ff00' d='M50 0l4 8 9-4 2 9 10-1 0 10 10 2-4 9 8 4-7 7 6 7-8 4 4 9-10 0-1 10-9-4-4 8-8-7-7 7-4-8-9 4-2-9-10 1 0-10-10-2 4-9-8-4 7-7-6-7 8-4-4-9 10 0 1-10 9 4 4-8 8 7 7-7 4 8z'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1) rotate(15deg);
    }

    @include mq(1200px) {
      width: 160px;
      height: 160px;
      font-size: 14px;
    }
  }
}
