@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.strategy {
  position: relative;
  background-color: $bg-secondary;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding-block: 100px;
  overflow: hidden;

  &__container {
    display: flex;
    flex-direction: column;
    @include fluid-prop('gap', 35px, 62px);
  }

  &__row {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 24px;

    @include mq(1200px) {
      gap: 15px;

      &-flex {
        flex-direction: column !important;
        align-items: flex-start !important;
        margin-bottom: 10px;
        gap: 10px;
      }

      &--bottom {
        align-items: flex-start;

        .strategy__row-flex {
          flex-direction: column-reverse !important;
        }

        .strategy__title,
        .strategy__info {
          text-align: left;
        }
      }

      &--top {
        .strategy__title,
        .strategy__desc {
          text-align: left;
          margin-bottom: 5px;
        }
      }

      .strategy__line {
        width: 90% !important;
      }
    }

    &-flex {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      width: 100%;
      margin-bottom: 20px;
    }

    &--top {
      align-items: flex-start;
      .strategy__line {
        width: 870px;
        @include fluid-prop('width', 120px, 870px);
        align-self: flex-start;
      }

      @include mq(1200px) {
        align-items: center;
      }
    }

    &--bottom {
      align-items: flex-end;

      @include mq(1200px) {
        align-items: center;
      }
      .strategy__row-flex {
        flex-direction: row;
      }
      .strategy__line {
        @include fluid-prop('width', 230px, 765px);
        align-self: flex-end;
      }

      @include mq(1200px) {
        gap: 46px;
      }
    }

    @include mq(1200px) {
      .strategy__row-flex {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
      }
      .strategy__line {
        width: 100%;
      }
    }
  }

  &__flex-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @include mq(1200px) {
      max-width: 470px;
      @include fluid-prop('max-width', 280px, 620px);

      flex-direction: column;
    }
  }

  &__title {
    font-family: $font-accent;
    @include fluid-prop('font-size', 30px, 68px);
    text-transform: uppercase;
    line-height: 1.2;
    white-space: nowrap;

    span {
      color: $text-accent-secondary;
    }
  }

  &__desc {
    @include fluid-prop('font-size', 14px, 22px);
    color: $text-desk-info;
    font-weight: 500;
    line-height: 1.2;
    text-align: right;

    span {
      color: $text-main;
    }
  }

  &__info {
    @include fluid-prop('font-size', 14px, 22px);
    color: $text-desk-info;
    font-weight: 500;
    line-height: 1.2;
    max-width: 450px;

    @include mq(1200px) {
      display: none;
    }

    span {
      color: $text-main;
    }
  }

  &__line {
    height: 1px;
    background: $bg-line;
  }

  // --- Кнопка и стрелка ---
  &__action {
    display: flex;
    align-items: center;
    justify-content: center;
    @include fluid-prop('gap', 20px, 60px);
  }

  &__arrow {
    flex-grow: 1;
    max-width: 380px;
    img {
      width: 100%;
    }
  }

  &__badge {
    padding: 32px;
    aspect-ratio: 209/184;
    font-weight: 700;
    @include fluid-prop('font-size', 13px, 20px);

    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../img/star.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
  }
}
