@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.workflow {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $bg-main;

  @include mq(1200px) {
    height: auto;
    padding-block: 60px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 37px;
    @include fluid-prop('margin-bottom', 46px, 68px);

    @include mq(1200px) {
      flex-direction: column;
      gap: 15px;
    }
  }

  &__logo {
    font-family: $font-accent;
    font-weight: 700;
    line-height: 1;
    @include fluid-prop('font-size', 35px, 75px);
    color: $text-main;
  }

  &__badge {
    background: $bg-white;
    border-radius: 20px;
    padding: 12px 30px;
    @include fluid-prop('padding-inline', 16px, 24px);
    @include fluid-prop('padding-block', 7px, 10px);

    span {
      color: $text-black;
      font-weight: 700;
      @include fluid-prop('font-size', 14px, 30px);
      text-transform: uppercase;
      white-space: nowrap;
    }
  }

  &__grid {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    @include fluid-prop('gap', 40px, 120px);
    @include fluid-prop('margin-bottom', 40px, 60px);

    @include mq(1200px) {
      flex-direction: column;
      align-items: center;
      gap: 50px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__label {
    font-weight: 500;
    @include fluid-prop('font-size', 20px, 40px);
    color: $text-main;
    @include fluid-prop('margin-bottom', 7px, 29px);
  }

  &__icon {
    @include fluid-prop('margin-bottom', 9px, 47px);

    img {
      @include fluid-prop('width', 22px, 61px);
    }
  }

  &__card {
    background: linear-gradient(180deg, rgba(27, 27, 27, 1) 0%, rgba(27, 27, 27, 0) 100%);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include fluid-prop('padding-inline', 18px, 32px);
    @include fluid-prop('padding-block', 7px, 10px);
    box-shadow: 0 4px 15px 0 rgba($text-black, 1);

    span {
      font-weight: 700;
      @include fluid-prop('font-size', 18px, 40px);
      text-transform: uppercase;
      color: $text-main;
    }
  }

  &__btn {
    @include btn;

    @include mq(1200px) {
      display: none;
    }
  }
}
