// scss/base/_base.scss
@use '../abstracts/variables' as *;

body {
  background-color: $bg-main;
  color: $text-main; 
  font-family: $font-main;
  min-height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
}