// Fonts
$font-main: 'Raleway', sans-serif;
$font-accent: 'Orbitron', sans-serif;

// Backgrounds
$bg-main: #0C0B0E; 

// Text Colors
$text-main: #FFFFFF;
$text-accent: #EAFC52;
$text-italic: #B20000;
$text-black: #000000;
$text-address: #C3C3C3;
$text-muted: #888888;

// Disclaimer Colors
$color-disclaimer: #B20000;

// Spacing
$section-padding-mobile: 40px;
$section-padding-desktop: 80px;

// Breakpoints
$min-width: 360px;
$mobile-width: 420px;
$tablet-width: 768px;
$desktop-width: 1200px;
$max-width: 1920px;

