// Fonts
$font-main: 'Raleway', sans-serif;
$font-accent: 'Orbitron', sans-serif;

// Backgrounds
$bg-main: #0C0B0E; 
$bg-secondary: #171717; 
$bg-grid: #161618; 
$bg-text: #1B1B1B;
$bg-white: #ffffff;
$bg-line: #737373;

// Text Colors
$text-main: #FFFFFF;
$text-accent: #EAFC52;
$text-accent-secondary: #EBFC56;
$text-italic: #B20000;
$text-black: #000000;
$text-black-secondary: #1B1B1B;
$text-address: #C3C3C3;
$text-muted: #888888;
$text-desk-info: #9B9B9B;

// Disclaimer Colors
$color-disclaimer: #B20000;

// Spacing
$section-padding-mobile: 40px;
$section-padding-desktop: 80px;

// Breakpoints
$min-width: 360px;
$mobile-width: 420px;
$tablet-width: 768px;
$desktop-width: 1200px;
$max-width: 1920px;

